# Виртуальное окружение
venv/

# Кэш и байткод
__pycache__/
*.pyc

# Логи
*.log

# Настройки IDE
.idea/

# Системные файлы
.DS_Store
Thumbs.db

prompt.txt

project/infrastructure/cache
project/cache_back
project/profile
profile
project/infrastructure/cookies.txt
project/config.py

project/tests/data
*.html

